# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Builds
/[Bb]uild/
/[Bb]uilds/

# Asset Store tools
/[Aa]ssets/AssetStoreTools*

# Visual Studio / Rider
.vs/
.idea/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Crash reports
sysinfo.txt

# Unity generated metadata
*.pidb.meta
*.pdb.meta
*.mdb.meta